<h1> Edit User </h1>
<!--
<form accept-charset="UTF-8" action="/users" method="post">
  Username: <input type="text" name="user[username]"><br>
  Email: <input type="text" name="user[email]"><br>
  Password: <input type="password" name="user[password]"><br>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <input type="submit" value="Submit">
</form>


<%= form_tag("/users", method: "post") do %>
<%= label_tag(:username, "Username") %>
<%= text_field_tag(:username) %>
<%= label_tag(:email, "Email") %>
<%= text_field_tag(:email) %>
<%= label_tag(:password, "Password") %>
<%= password_field_tag(:password) %>
<%= submit_tag("Submit") %>
<% end %>
-->

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |error| %>
    <h3 style='color: red'><%= error %></h3>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
<%= label(:username, "Username") %>
<%= f.text_field :username, placeholder: 'Nicky Heise' %>
<%= label(:email, "Email") %>
<%= f.text_field :email, placeholder: 'example@example.com' %>
<%= label(:password, "Password") %>
<%= f.password_field :password, placeholder: 'Foobar' %>
<%= f.submit "Submit" %>
<% end %>
